<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <h4>There were some errors. Please review below: </h4>

    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= %>
    <%= %>

    <%= %>
    <%= %>

    <%= %>
    <%= %>

    <%= %>
    <%= %>

    <%= f.submit %>
<% end %>
