<h1>Songs</h1>

<%= link_to 'create song', new_song_path %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Genre</th>
      <th>Artist Name</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.year %></td>
        <td><%= song.genre %></td>
        <td><%= song.artist_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
